@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.fa{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

#logo{
    height: 40px;
    width: 40px;
}