body{
    background-image: url('./images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Landing */
#landing {
    background-image: url(../image/herrr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    min-height: 120vh;
}

#landing .row {
    min-height: 100vh;
}

/* ======================================================== */

/* Search */
#search {
    padding: 10px;
    min-height: 20vh;
    margin-top: -95px;
}

#search .container {
    background-color: white;
    box-shadow: 5px 5px 10px 1px #616161;
}

#search label {
    width: 150px;
}

/* ========================================================= */

/* Properties */
#properties {
    min-height: 100vh;
}

#properties .card {
    height: fit-content;
    width: 350px;
    box-shadow: 5px 5px 10px 1px #616161;
}

#properties img.card-img-top {
    /* aspect-ratio: 1; */
    width: 100%;
    height: 200px;
}

/* ========================================================== */


/* ========================================================== */
/* Sort */
#sort {
    padding: 10px;
    min-height: 15vh;
    /* margin-top: -95px; */
}

#sort .container {
    background-color: white;
    box-shadow: 5px 5px 10px 1px #616161;
}

#sort label {
    width: 150px;
}

table {
    overflow-x: auto;
}



  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/herrr.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

           
  .btn-grad {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 