/* Landing */
#landing {
    background-image: url(../image/herrr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    min-height: 120vh;
}

#landing .row {
    min-height: 100vh;
}

/* ======================================================== */

/* Search */
#search {
    padding: 10px;
    min-height: 20vh;
    margin-top: -95px;
}

#search .container {
    background-color: white;
    box-shadow: 5px 5px 10px 1px #616161;
}

#search label {
    width: 150px;
}

/* ========================================================= */

/* Properties */
#properties {
    min-height: 100vh;
}

#properties .card {
    height: fit-content;
    width: 350px;
    box-shadow: 5px 5px 10px 1px #616161;
}

#properties img.card-img-top {
    /* aspect-ratio: 1; */
    width: 100%;
    height: 200px;
}

/* ========================================================== */

#footer a {
    color: white;
}

#footer a:hover {
    color: #006fd79d;
}
/* ========================================================== */
/* Sort */
#sort {
    padding: 10px;
    min-height: 15vh;
    /* margin-top: -95px; */
}

#sort .container {
    background-color: white;
    box-shadow: 5px 5px 10px 1px #616161;
}

#sort label {
    width: 150px;
}

table {
    overflow-x: auto;
}